@import "tailwindcss";


/* FONTS IMPORT */

@font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-Regular.woff2') format('woff2'),
        url('/fonts/FoundersGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-Semibold.woff2') format('woff2'),
        url('/fonts/FoundersGrotesk-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-Bold.woff2') format('woff2'),
        url('/fonts/FoundersGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk Condensed';
    src: url('/fonts/FoundersGroteskCond-Bold.woff2') format('woff2'),
        url('/fonts/FoundersGroteskCond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk Condensed';
    src: url('/fonts/FoundersGroteskCond-Reg.woff2') format('woff2'),
        url('/fonts/FoundersGroteskCond-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Founders Grotesk Condensed';
    src: url('FoundersGroteskXCond-SmBd.woff2') format('woff2'),
        url('FoundersGroteskXCond-SmBd.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Feature Deck LC';
    src: url('/fonts/FeatureDeckLC-Regular.woff2') format('woff2'),
        url('/fonts/FeatureDeckLC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Feature Deck LC';
    src: url('/fonts/FeatureDeckLC-Medium.woff2') format('woff2'),
        url('/fonts/FeatureDeckLC-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


/* tailwind classes */
@theme {
    /* fonts */
    --font-Founders: "Founders Grotesk";
    --font-FeatureDeck: "Feature Deck LC";
        --font-FoundersCond: "Founders Grotesk Condensed";




    /* colors */
    --color-adcblack: #1F1E1B;
    --color-adcwhite: #F9F6F6;


    --zoom-initial: 100% 100%;
    --zoom-110: 120% 120%;
}

/* TEXT STYLES */
@layer components {
    .CTA {
        font-family: "Founders Grotesk Condensed";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
    }

    .CTA_service {
        font-family: "Founders Grotesk Condensed";
        font-size: 16px;
        font-style: condensed;
        font-weight: 400;
        text-transform: uppercase;
    }

    .h1_serif {
        font-family: "Feature Deck Condensed";
        font-size: 50px;
        font-style: normal;
        font-weight: normal;
        line-height: 100%;
        /* 50px */
    }

    .subtitle {
        font-family: "Feature Deck Condensed";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 20px */
    }
}


/* margin and bigger screens behaviour */

/* GENERAL (PEND TO ASK, copied from Marcos Project) */
body {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-adcblack);
    color: var(--color-adcwhite);
}

*{
      box-sizing: border-box;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    
}

/* Animación personalizada para el marquee */
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Clase de animación */
.animate-marquee {
  animation: marquee 20s linear infinite;
  display: inline-block;
  white-space: nowrap;
}
